@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-green: #408f63;
  --color-white: #ffffff;

  --color-gray-light: #fafafa;
  --color-gray: #6b7280;
  --color-gray-dark: #3b3b3c;

  --border-radius-md: 8px;

  --padding-xs: 12px;
  --padding-sm: 24px;
  --padding-md: 28px;

  --text-sm: 0.8rem;
  --text-md: 0.9rem;
  --text-lg: 1.05rem;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
}
